* {
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
	height: 200px;
	padding: 60px 60px 0;
}

.container h2 {
	margin-right: 80px;
	margin-top: 0;
}

.container--post,
.container--update {
	height: 550px;
}

.container--post form,
.container--update form {
	width: 300px;
}

.container--post form input,
.container--post form textarea,
.container--post form button,
.container--update form input,
.container--update form textarea,
.container--update form button {
	width: 100%;
}

.container--post form button,
.container--update form button {
	margin-top: 15px;
}

.type-container {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 10px;
	width: fit-content;
}

.type-heading {
	margin: 0 16px 0 0;
	font-weight: 700;
}

.container--post label:not(.type-label),
.container--update label:not(.type-label) {
	display: block;
}

.api-tester {
	min-height: 180px;
	display: flex;
	flex-direction: column;
	/* justify-content: flex-end; */
	gap: 1rem;
}

/* .api-tester--dish-by-name {
	display: flex;
	flex-direction: column;
} */

.api-tester input {
	height: 24px;
}

#general_test_input {
	visibility: hidden;
}

.api-tester button {
	background-color: plum;
	color: black;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	padding: 1rem;
	min-width: 160px;
}

.api-tester .result {
	visibility: hidden;
	height: 24px;
	margin: 0;
	text-transform: capitalize;
}

.api-tester .result.result-active {
	visibility: visible;
}

/* .api-tester [data-result--dishes-by-username].result-active {
	display: flex;
} */

.api-tester [data-result--dishes-by-username] {
	max-width: 100%;
	display: flex;
	gap: 1rem;
}

.api-tester [data-result--dishes-by-username] p {
	white-space: nowrap;
	margin-top: 0;
}

/* img {
	margin-bottom: 1.5rem;
}

img:hover {
	filter: drop-shadow(0 0 2em #673ab8aa);
}

.home section {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.5rem;
}

.resource {
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	text-align: left;
	text-decoration: none;
	color: #222;
	background-color: #f1f1f1;
	border: 1px solid transparent;
}

.resource:hover {
	border: 1px solid #000;
	box-shadow: 0 25px 50px -12px #673ab888;
}

@media (max-width: 639px) {
	.home section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

@media (prefers-color-scheme: dark) {
	.resource {
		color: #ccc;
		background-color: #161616;
	}
	.resource:hover {
		border: 1px solid #bbb;
	}
} */
